---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Cesar <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Welcome to my experimental life journal! This blog is a unique experiment where 
            everything is written via AI. I use the Voicenotes app to record my entries, and an 
            AI writer listens to them, narrating my life as a third-person observer.
          </p>
          <p class="animate">
            I'm a 32-year-old Brazilian currently living in Dubai. My life is an adventure, 
            and I love sharing it through this AI-powered narrative. If you're curious about 
            where I am now or my future travels, check out <Link href="http://cesar.is" external>cesar.is</Link>.
          </p>
          <p class="animate">
            Want to see more of my daily life and adventures? Follow me on Instagram 
            <Link href="https://www.instagram.com/guriboy007" external>@guriboy007</Link>.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
